<!DOCTYPE html>
<html>
<title>About</title>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" >
</head>
    
<body>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="img/about.png" >
    <p style="font-style:italic;font-weight: 700;">This site uses data from Matbox.com and OpenWeatherMap</p>
    </div>

    {{>footer}}
</body>



</html>
