<!DOCTYPE html>
<title>404 Error</title>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
    <div class="main-content">
{{>header}}
<p>{{message}}</p>
</div>

{{>footer}}
</body>
