<!DOCTYPE html>
<html>
<title>Help</title>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" >

</head>

<body>
    <div class="main-content">
     {{>header}}
    <p>{{help}}</p>
    <img src="img/pogbaOzil.jpg"
    </div>

    {{>footer}}
</body>


</html>
